@keyframes fadein {
  from {opacity: .01}
  to {opacity: 1}
}

@keyframes fadeout {

  from {opacity: 1}
  to {opacity: .01 !important;}
}

@keyframes expand {
  from {height: 0}
  to {height: 100%}
}

.fade-out {
  animation: fadeout 300ms !important
}


span {
  //height: 3px !important;
  padding-top: 2px;
}