body {
  margin: 0 !important;
  max-height: 100vh;
}

//sign in page styles

#sign-in-wrapper {

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;

  //transition: opacity 300ms;
}

#swipe-container {
  max-height: 100vh;
  overflow: hidden;
}

#feed-wrapper, #profile-wrapper, #activity-wrapper {
  margin: 48px 0;
  height: calc(100vh - 48px);
  overflow: auto;
}

#profile-wrapper {


  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

}

#profile-portrait {
  grid-column: 1;
  border-right: 1px solid lightcoral;
}

#profile-body {
  grid-column: 2 / span 2;
  display: flex;
  flex-flow: column nowrap;
  height: fit-content !important;
}

#profile-body-bar {
}

#profile-posts-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: inherit;
  overflow: hidden;
}

.profile-post-section {
  height: calc(100vh - 98px) ;
  overflow: auto;
}
.profile-post-section::-webkit-scrollbar {
  width: 2px !important;
}
.profile-post-section::-webkit-scrollbar-track {
  background-color: rgba(240, 128, 128, 0.64);
}

#feed-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;

}

.feed-post > div {
  text-wrap: normal;
}

.feed-post, .feed-post * {
  overflow: hidden !important;
}

#sign-in-title {
  grid-row: 1;
  grid-column: span 2
}

#chop-sticks {
  background: url('./images/chopSticks.png') center no-repeat ;
  //background-size:;
}

.expandable-collection {
  padding: 1rem 0;
  //transition: height 400ms ease-out;
}

#sign-in-form-container {
  grid-row: 2;
  grid-column: span 2;

  @media only screen and (min-width: 840px) {
    grid-column: 2;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (max-width: 1129px) {
  .post-container {
    //width: 100% !important;
    margin: auto !important;
  }
}
#activity-wrapper {
  display: grid;
  grid-template-columns: 33.33%  33.33%  33.33%;
}

#likes-container {
  grid-column: 1;
}

#followers-container {
  grid-column: 2
}

#following-container {
  grid-column: 3
}

#followers-container, #likes-container, #following-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .6rem
}
