body {
  margin: 0 !important;
  max-height: 100vh;
}

//sign in page styles

#sign-in-wrapper {

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;

  //transition: opacity 300ms;
}

#swipe-container {
  max-height: 100vh;
  overflow: hidden;
}

#feed-wrapper, #profile-wrapper {
  margin: 50px 0;
  height: calc(100vh - 50px);
  overflow: auto;
}

#profile-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

#profile-portrait {
  grid-column: span 2;
}

#feed-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;

}

.feed-post > div {
  text-wrap: normal;
}

#sign-in-title {
  grid-row: 1;
  grid-column: span 2
}

#chop-sticks {
  background: url('./images/chopSticks.png') center no-repeat ;
  //background-size:;
}

.expandable-collection {
  padding: 1rem 0;
  //transition: height 400ms ease-out;
}

#sign-in-form-container {
  grid-row: 2;
  grid-column: span 2;

  @media only screen and (min-width: 840px) {
    grid-column: 2;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}
