html  a{
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 840px) {
  html {
    font-size: 110%;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 120%;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 130%;
  }
}
