/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Condensed|Roboto+Mono");
@import url("https://https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 70%; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 80%; } }
@media only screen and (min-width: 600px) {
  html {
    font-size: 90%; } }
@media only screen and (min-width: 840px) {
  html {
    font-size: 100%; } }
@media only screen and (min-width: 960px) {
  html {
    font-size: 110%; } }
@media only screen and (min-width: 1280px) {
  html {
    font-size: 120%; } }
html {
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif; }

#nav-bar-wrapper {
  background-color: #c5c5c5;
  color: #39393a; }

/* width */
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(207, 216, 220, 0.5);
  border-radius: 20px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(69, 90, 100, 0.7);
  border-radius: 20px;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms; }

/* Handle on hover */
body {
  overflow: hidden; }

#app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden; }

#nav-bar-wrapper {
  height: 4%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

#md-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 96%;
  overflow: hidden;
  transition: width 300ms, padding-left 300ms; }

#md-rendered-wrapper {
  overflow: auto; }

#sidebar-wrapper {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1000; }

i {
  font-size: 150% !important; }

#md-rendered-wrapper {
  padding: 1rem 1rem;
  width: 50vw;
  transition: width 300ms; }

#md-rendered-wrapper * {
  line-height: 1.5rem; }

#md-rendered-wrapper ul {
  list-style: disc;
  padding: 0 0 0 .8rem; }

#md-rendered-wrapper h1 {
  font-size: 2rem;
  padding: 0.5rem 0; }

#md-rendered-wrapper h2 {
  font-size: 1.7rem;
  padding: 0.5rem 0; }

#md-rendered-wrapper h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0; }

#md-rendered-wrapper h4 {
  font-size: 1.2rem;
  padding: 0.5rem 0; }

#sidebar {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  background: #455A64; }

.sidebar-list-item {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: .5rem .8rem;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: solid 2px #455A64;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 300ms; }

.sidebar-list-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5); }

.sidebar-directory {
  display: flex;
  flex-flow: column nowrap;
  transition: height 300ms; }

.sidebar-nested {
  overflow: hidden;
  transition: height 300ms;
  height: 0; }

.sidebar-nested-expand {
  height: initial;
  padding-left: 1rem; }

.fade-enter {
  opacity: 0.01; }

.fade-enter .fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in; }

.fade-enter-done {
  opacity: 1; }

.fade-appear-done {
  opacity: 1; }

.fade-exit {
  opacity: 1; }

.fade-exit .fade-exit-active {
  transition: opacity 2000ms ease-out;
  opacity: 0.01; }

.fade-exit-done {
  display: none; }

.fade-appear {
  opacity: 0.01; }

.fade-appear .fade-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease-in; }

#sidebar-wrapper {
  transition: width 300ms; }

@media only screen and (max-width: 480px) {
  .sidebar-toggled {
    width: 100% !important; }

  .pad-left {
    padding-left: 100% !important; }

  .pad-right {
    padding-left: 100% !important; } }
@media only screen and (min-width: 480px) {
  .sidebar-toggled {
    width: 100% !important; }

  .pad-left {
    padding-left: 100% !important; }

  .pad-right {
    padding-left: 100% !important; } }
@media only screen and (min-width: 600px) {
  .sidebar-toggled {
    width: 50% !important; }

  .pad-left {
    padding-left: 50% !important; }

  .pad-right {
    padding-left: 50% !important; } }
@media only screen and (min-width: 840px) {
  .sidebar-toggled {
    width: 30% !important; }

  .pad-left {
    padding-left: 30% !important; }

  .pad-right {
    padding-left: 30% !important; } }
@media only screen and (min-width: 960px) {
  .sidebar-toggled {
    width: 20% !important; }

  .pad-left {
    padding-left: 20% !important; }

  .pad-right {
    padding-left: 20% !important; } }

/*# sourceMappingURL=app.css.map */
